*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: darkslategray;
}

nav{
    text-align: center;
    background-color: aquamarine;

}
nav ul{
    list-style-type:none;
    
}
nav ul li{
    display: inline-block;
    position: relative;
}
nav ul li a{
    display: inline-block;
    color:brown;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    font-family:sans-serif;
    transition:1s;
    background-color:rgb(57, 247, 250);
    
}
nav ul li:hover > a{
    background-color:mediumblue;
    color:rgb(249, 131, 35);
}
nav ul li ul{
    position:absolute;
    left:0;
    top: 100%;
    visibility:hidden;
    opacity:0;
    transition:2s linear ;
}
nav ul li:hover > ul{
    visibility:visible;
    opacity:1;
    top: 100%;
}
nav ul li ul li ul{
    left: 100%;
    top: 0 !important;
}
.parent{
    justify-content:space-evenly;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 800px;
    border: 5px solid #09bced;
    align-items: center;
  }
  .child{
    width: 30%;
    height: 200px;
    background-color: lawngreen;
    border:2px solid black;
  }